.resetPasswordContainer {
    background-color: black;
    margin: 0;
  
    &_sub {
      color: $clr_gray_extra_light;
      display: flex;
      align-items: center;
      padding-top: 200px;
  
      & > span {
        font-size: 20px;
        margin-left: 10%;
      }
  
      &_body {
        flex: 3;
        text-align: center;
        align-items: center;
        margin-bottom: 100px;
  
        & > input {
          display: flex;
          margin: 1% 1% 3% 35%;
          width: 30%;
          padding: 10px;
          border: none;
          border-radius: 10px;
        }
  
        & > button {
          background-color: $clr_green;
          border-radius: 10px;
          padding: 0.5% 7%;
          margin-bottom: 2%;
          cursor: pointer;
          font-size: 17px;
          font-weight: bold;
        }
      }
    }
  }