$clr_gray_light: #bccbde;
$clr_blue_light: #C2DDE6;
$clr_gray_extra_light: #e6e9f0;
$clr_purple: #431c5d;
$clr_orange: #e05915;
$clr_green: #cdd422;
$clr_blue: #2C32AD;

*{
    font-family : 'Caveat', cursive ;
    margin: 1px;
    box-sizing: border-box;
}
img{
    object-fit: cover;
}